.form-container {
    
    width: 400px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid cadetblue;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    text-align: center;
    color: #333;
  }
  
  table {
    width: 100%;
  }
  
  td {
    padding: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid cadetblue;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color:cadetblue;
    color: antiquewhite;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }
  
  a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  